# OS files
.DS_Store

# Python virtual environments
.venv/
venv/
.env

# Python cache/compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local SQLite database
backend/cashflow.db
cashflow_test.db
cashflow.db

# Pytest / testing cache
.pytest_cache/

# Editor / IDE settings
.vscode/
.idea/

# Xcode
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.moved-aside
*.xcworkspace/xcuserdata/